
/* Font family courtesy of https://fonts.google.com/specimen/Josefin+Sans  */
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background: radial-gradient( rgb(19, 10, 66) 0%, rgba(54, 90, 110, 0.954) 100%);
  color: rgb(233, 217, 217);
  border-radius: 0;
  border-bottom: 10px solid black;
}

.lead {
  margin: 50px 50px 0px;
}

.searchBar{
  display: flex;
  justify-content: center; 
  align-items: center;
}

.searchResults{
  margin: 50px 50px 0px;
  justify-content: center;
  flex-wrap: wrap;
}

.forecast{
  font-size: small;
  text-align: center;
}
.nfive{
  margin-top: 50px;
  text-align: center;
}
.fiveDay{
  display: flex;
  justify-content: space-between;
  align-items: left;

}

.low_uv{
  color: green;
}

.med_uv{
  color: yellow;
}


.high_uv{
  color: red;
}

